<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=500141453482575";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="side-box sidesearchbox">
  <h5>@Html.LanguageString("Side.TEDUFacebook")</h5>
  <div class="fb-page" data-href="https://www.facebook.com/teduchannel" data-width="369" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/teduchannel" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/teduchannel">TEDU - Technology Education</a></blockquote></div>

</div>